@charset "UTF-8"

body{
	
	background-color: 	

}

header{
	padding-top: 0px;
	margin: 0 auto;
	background: #90D8E6;
	width: 80%;
	margin: 0 auto;
	padding:  40px 0;
	color: white;
	text-align: center;
	
}

a{
	text-decoration: none;
	color: inherit;
}

nav ul{
	width: 80%;
	margin: 0 auto;
	background-color: #a3a3a3;
	overflow: hidden;
	color: white;
	padding: 0;
	text-align: center;
	margin-top: 0px;
	margin: 0 auto;
	-webkit-transition:max-height:0.6s;
	-ms-transition:max-height:0.6s;
	-moz-transition:max-height:0.6s;
	-o-transition:max-height:0.6s;
	transition:max-height:0.6s;
}

nav ul li{
	display: inline-block;
	padding: 18px;

}

nav ul li:hover{
	background-color:  	#C0C0C0;
	text-decoration: none;
	color:	#778899;
}

p{
	font-family: Arial Sans-serif ;
	font-size:18px ;
	padding: 10px;
	text-indent: 30px;
}

section{
	
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	width: 80%;
	height: 600px;
	margin: 0 auto;
	background-color: #dddddd;
}

section#information{
	background-color: #F5F5F5;
	padding: 0px;
	margin-left: 105px;
	margin-top: 50px;
	width: 400px;
	height: 400px;
	border: solid 7px transparent;
	background-color:#F0F0F0;
	text-align:justify;
	position:absolute;
}

section#cadastro{
	background-color: #F5F5F5;
	margin-right: 105px;
	margin-top: 50px;
	padding: 0px;
	width: 400px;
	height: 400px;
	border: solid 7px transparent;
	background-color:#F0F0F0;
	text-align:justify;
	position:relative;
	float: right;


}
form{

	font-family: Arial Sans-serif ;
	font-size:18px ;
	padding: 10px;
	
}







/*
/*<div class="hundle">Menu</div>
.hundle {
	
	background: #005c48;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor:  pointer;
	color: white;
	display: none;
	width: 80%;
}


@media screen and (max-width: 580px){
	nav ul{
		max-height: 0;
	}

	.showing{
		max-height: 20em;

	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: left;

	}


	.hundle{
		display: block;

	}


}
*/