@charset="UTF-8";


section#conteudo {
	width: 1000px;
	margin:auto;
	height: 400px;
}

iframe#frame-spec{
	width: 680px ;
	height:600px;
	border: none;
	overflow: hidden;
	frameborder:0;
	scrolling:no;

}

iframe#frame-spec::-webkit-scrollbar{
	display: none;

}

.video_aula{
	border: 5px 5px 5px 5px orange;
}
